extends layout

block vars
  - var title = event.name

block content
  h2
    i.fa.fa-trophy
    span= ' '+event.name

  - var teamsPlaying = {}

  if matchsList.length

    table.listMatches
      - prevDay = 0
      each match in matchsList
        - teamsPlaying[match._teamA._id] = match._teamA
        - teamsPlaying[match._teamB._id] = match._teamB
        - currentDay = moment(match.dateStart).format('ddd DD MMM YY')
        if(prevDay != currentDay)
          - prevDay = currentDay
          tr
            th(colspan=4)= currentDay

        tr
          td.teamA= match._teamA.name
          td.teamB= match._teamB.name
          td
            a(href='/match/'+match._id) details
          td.hour
            b= moment(match.dateStart).format('HH:mm')
            = " "
            small= "UTC"+moment(match.dateStart).format('Z')



  else
    #no-match.empty-list No match planned for this event.

  - var finalTeams = []
  each team in teamsPlaying
    -finalTeams.push(team)

  - finalTeams.sort(function(a,b){ if(a > b) return 1; else return -1; })

  mixin optionsTeams()
    option(disabled,selected) Select a team

    //if(teamsPlaying.length)
    if(finalTeams.length)
      optgroup(label='Teams playing')
        each team in finalTeams
          option(value=team.id)= team.name
    optgroup(label='All teams')
      each team in allTeams
        option(value=team.id)= team.name

  if(isEventAdmin)
    form(action=formAction,method='post')
      fieldset

        each letter in ["A","B"]
          label(for='team'+letter)= "Team " + letter
          select(name='team'+letter,id='team'+letter)
            +optionsTeams()
        input(type='date',required,name='datestart',value=moment().format('YYYY-MM-DD'))
        input(type='time',required,name='hourstart',value=moment().format('HH:mm'))
        input(type='hidden',value='0',name='timezone').timezone
        input(value='create a new match',type='submit').btn

block append javascripts
  script.
    $('.timezone').val(new Date().getTimezoneOffset());