extends layout

block content
  h2
    i.fa.fa-trophy
    span= ' '+event.name

  if matchsList

    table
      each match in matchsList
        tr
          td= match._teamA.name
          td= match._teamB.name


  else
    #no-match.empty-list No match planned for this event.

  form(action=formAction,method='post')
    fieldset

      each letter in ["A","B"]
        label(for='team'+letter)= "Team " + letter
        select(name='team'+letter,id='team'+letter)
          option(disabled,selected) Select a team
          optgroup(label='All teams')
            each team in allTeams
              option(value=team.id)= team.name
      input(value='create a new match',type='submit').btn