doctype html
html
  head
    if title
      title= title + " · " + locals.appName
    else
      title= locals.appName
    block styles
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Varela+Round', type='text/css')
      link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
      link(rel='stylesheet', href='/stylesheets/component.css', type='text/css')
      link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css', type='text/css')

  body
    block header
      #header
        h1
          a(href='/')= locals.title
        if locals.user
          #user-infos
            span= locals.user.name + ' '
            a#logout(href='/logout')
              i.fa.fa-sign-out

    #content
      block content
    #widecontent
      block widecontent

    #footer
      block footer
        #copyright &copy; tchoukr #{moment().format('YYYY')}
        if locals.user && locals.user.isAdmin
          #footer-admin
            a(href='/admin/clubs') Manage clubs
    block javascripts
      script(src='/javascripts/jquery.min.js')
      script(src="/javascripts/jquery.field.js")
