extends layout

block vars
  - var title = match._teamA.name + ' - '+match._teamB.name + " · " + match._event.name
  - var matchDate = moment(match.dateStart)
block content

  //h2
    i.fa.fa-bullhorn
    = ' '
    = match._teamA.name
    = ' - '
    = match._teamB.name


  ul.match-infos
    li
      i.fa.fa-map-marker
      = ' '
      a(href='/event/'+event._id)= event.name
    li
      i.fa.fa-calendar
      = ' ' + matchDate.format('ddd DD MMM YYYY')
    li
      i.fa.fa-clock-o
      = ' ' + matchDate.format('HH:mm')
      small= matchDate.format('Z')


  mixin showPlayers(compo,team)
    h3(data-id=""+team._id)= team.name

    .team-content
      if(compo && compo.length)
        ul
          each player in compo
            li(data-id=""+player._player._id)
              span.shirtNumber= player.shirtNumber
              span.playerName= player._player.lastName.toUpperCase() + ' ' + player._player.firstName
      else
        .no-player Unknown composition

  #match-board

    .players-list#players-list-A
      +showPlayers(compoA,teamA)

    .players-list#players-list-B
      +showPlayers(compoB,teamB)

    #score-table
      #score-display
        #scoreA --
        #scoreSeparator :
        #scoreB --

  #match-field.match-field

  #actions-list.box
    .box-header Actions details
    .box-content
      #table-actions
        table.player-actions
          tr
            th Min.
            th(colspan=3) Score
            th(colspan=3) Details
          tbody#match-actions

  #players-stats-list.box
    .box-header Individual stats
    .box-content
      #table-players-stats
        table.player-actions
          tr
            th Name
            th
              abrev(title='Points scored') Poi
            th
              abrev(title='Points given to the opponent') Giv
            th
              abrev(title='Defenses') Def
            th
              abrev(title='Tchoukr Rank') TR
          tbody#players-stats

  if(isAdmin)
    a.btn(href='./'+match._id+'/admin') You can administrate the match

block append javascripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/match.live.js')
  script= 'liveMatch(\''+match._id+'\')'
