extends layout

block vars
  - var title = 'Admin ' + match._teamA.name + ' - '+match._teamB.name + " · " + match._event.name
  - var matchDate = moment(match.dateStart)
block content

  h2
    i.fa.fa-edit
    = ' '
    = match._teamA.name
    = ' - '
    = match._teamB.name

  a.btn(href='/match/'+match._id) Back to the match




  mixin showPlayers(players,team,compo)

    - getShirtNumber = function(player){
    -   for(var i in compo){
    -     if(compo[i].shirtNumber && compo[i]._player._id.equals(player._id)){
    -       return compo[i].shirtNumber;
    -     }
    -   }
    -   return;
    - }


    form(action=path,method='post')
      table
        tr
          th(colspan=3)= team.name
        each player in players
          tr
            td= player.firstName
            td= player.lastName
            td
              = "Shirt: "
              input(type='text',placeholder='Not playing',name='player'+player._id,value=getShirtNumber(player))

        tr
          td(colspan=2)
          td
            input(type='submit',value='save numbers',name='editTeam'+team._id)

    form(action=path,method='post')
      fieldset#newplayer
        input(type='hidden',name='team',value=team._team)
        input(type='text',name='firstname',placeholder='first name')
        input(type='text',name='lastname',placeholder='last name')
        input.btn(type='submit',name='addplayer',value='add player to this team')




  .players-list#players-list-A
    +showPlayers(playersA,teamA,match.compositionA)

  .players-list#players-list-B
    +showPlayers(playersB,teamB,match.compositionB)

  #admin-field Loading field


block append javascripts
  script(src='/javascripts/admin.js')