extends layout

block vars
  - var title = 'Admin ' + match._teamA.name + ' - '+match._teamB.name + " · " + match._event.name
  - var matchDate = moment(match.dateStart)
block content

  h2
    i.fa.fa-edit
    = ' '
    = match._teamA.name
    = ' - '
    = match._teamB.name

  mixin showPlayers(players,team,compo)

    - getShirtNumber = function(player){
    -   for(var i in compo){
    -     if(compo[i].shirtNumber && compo[i]._player._id.equals(player._id)){
    -       return compo[i].shirtNumber;
    -     }
    -   }
    -   return;
    - }


    form(action=path,method='post')
      table
        tr
          th(colspan=3)= team.name
        each player in players
          tr
            td= player.firstName
            td= player.lastName
            td
              = "Shirt: "
              input(type='number',placeholder='Not playing',name='player'+player._id,value=getShirtNumber(player))

        tr
          td(colspan=2)
          td
            input(type='submit',value='save numbers',name='editTeam'+team._id)

    form(action=path,method='post')
      fieldset#newplayer
        input(type='hidden',name='team',value=team._team)
        input(type='text',name='firstname',placeholder='first name')
        input(type='text',name='lastname',placeholder='last name')
        input.btn(type='submit',name='addplayer',value='add player to this team')


  mixin displayCompo(compo,team)
    each player in compo
      a.playerPlaying(href='#','data-id'=player._player._id,'data-team'=team._id)
        span.shirtNumber= player.shirtNumber
        = player._player.firstName+' '+player._player.lastName


  ul.menu
    li
      a#link-composition(href='#') Composition
    li
      a#link-live(href='#') Live score
    li
      a(href='/match/'+match._id) Back to the match


  #admin-tab-live

    #admin-field Loading field

    #admin-players
      table
        tr
          th #
          th Participation as a...
          th Selected
        tbody#playersSelected
        tr
          td(colspan=3)
            a#submitAction(href='#') Submit action

      #compoA
        h3= teamA.name
        +displayCompo(match.compositionA,match._teamA)
      #compoB
        h3= teamB.name
        +displayCompo(match.compositionB,match._teamB)


  #admin-tab-compo

    .players-list#players-list-A
      +showPlayers(playersA,teamA,match.compositionA)

    .players-list#players-list-B
      +showPlayers(playersB,teamB,match.compositionB)


  .end


block append styles
  link(rel='stylesheet', href='/stylesheets/admin.css', type='text/css')


block append javascripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/match.admin.js')
  script= 'adminMatch(\''+match._id+'\')'